<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static "css/mystyle.css" %}>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light header" >
      <a class="navbar-brand" href="/"><h1><i>My<p>&nbsp;&nbsp;&nbsp;Profile</i></p></h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link" id="header2" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>



          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" id="header2" href="{% url 'profile' %}">profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="header2" href="{% url 'user_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="header2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'user_login' %}">User_Login</a>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin_Login</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="header2" href="{% url 'registration' %}">Registration</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    {% block body_block %}

    {% endblock %}



    <footer>
      <div class="footer_mid">
        <div class="row">
          <div class="col-sm-4">
            <center>
            <h3><b>Get to know us</b></h3>
            <p>About Us</p>
            <p>careers</p>
            <p>Health Care</p>
          </center>
          </div>

          <div class="col-sm-4">
            <center><h3><b>Get in Touch</b></h3></center><br><br>
            <center>
             <a href="https://www.facebook.com"> <img src="{% static 'image/fb.png' %}"><a>&nbsp;&nbsp;&nbsp;&nbsp;</a></a>
             <a href="https://twitter.com"> <img src="{% static 'image/twit.png' %}"><a>&nbsp;&nbsp;&nbsp;&nbsp;</a></a>
             <a href="https://www.linkedin.com"> <img src="{% static 'image/lin.png' %}"><a>&nbsp;&nbsp;&nbsp;&nbsp;</a></a>
             <a href="https://www.instagram.com"> <img src="{% static 'image/insta.png' %}"></a>
           </center><br>
          </div>

          <div class="col-sm-4">
            <center>
              <h3><strong>Let Us Help You</strong></h3>
              <p>Your Account</p>
              <p>Return Center</p>
              <p>Help Center</p>
            </center>
          </div>

        </div>
        <hr>
        <center>
                  <strong><h3>Contact Us.</h3></strong>
                  Feel free to contact with us at our Helpline no. <strong>+919876543210</strong><br>
                  For any Suggestions/Queries kindly mail us at <strong>abcdefgh@gmail.com</strong>
        </center><br>
      </div>
      <div class="footer_bottom">
        <center>
          <p> Policy:Return Policy | Terms of use | Security | Privacy </p>
          <p> All copy right resversed &copy;2018, myprofile.com </p>
        </center>

      </div>

    </footer>
  </body>
</html>
