{% extends "base.html" %}

{% block body_block %}
  <div class="container">
    <center><h2>Hotels and Restaurants</h2></center>
  {% if products %}
  <div class="row">
  {% for data in products %}
    <div class="col-sm-4 col-md-3">
      <div class="img-thumbnail">
        <img src="{{ data.image.url }}"  alt="image not found" height="150px;" width="100%;">
        <div class="caption">
          <center>
          <h3>{{data.product_name}}</h3>
          <p>Price:{{data.price}}</p>
        </center>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
  {% else %}
    <b>No items found in the database.</b>
  {% endif %}
  </div>
{% endblock %}
