h1{
  color: #43AFDC
}
.header{

  background-color: #232F3E;
}
.text{
  color: white;
}
.header1{
  padding-left: 100px;
  font-size: 18px;

}
#header2{
  font-size: 20px;
  color: #FFFFFF;
}
.box{
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid grey;
  width: 320px;

}

footer{
  color: white;

}

.footer_mid{
  background-color: #232F3E
}
.footer_bottom{
  background-color: #131A22;
}
